<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> stylesbundle}}
</head>

<body>
{{> header session=session}}
<main class="main">
    <section id="cards" class="cards">
        <div class="cards__container">
            {{#each drinks}}
                {{> drink
                        name=name
                        abv=abv
                        ibu=ibu
                        description=description
                        avgRating=avgRating
                        userRating=userRating
                        session=../session
                        manager=../manager
                }}
            {{/each}}

            {{#if session}}
                {{> drinkCreate}}
            {{/if}}
        </div>
    </section>
</main>
{{> footer}}
</body>

</html>