<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> stylesbundle}}
</head>

<body>
<div class="login-container">
    <form id="login-form" class="login-form">
        <h3 class="login-form__title">Войти</h3>
        <input id="login-form-email" class="login-form__item" type="email" placeholder="Email">
        <input id="login-form-password" class="login-form__item" type="password" placeholder="Пароль">
        <button id="login-form-submit" class="login-form__button" type="submit">Войти</button>
    </form>
</div>
</body>
</html>